*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    flex-wrap: wrap;
}

ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 10px
}

.logo{
    font-size: 24px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 10px 90px 10px 90px;
}

.header-link{
    margin-left: auto;
    font-size: 18px;
    color: #E5E7EB;
}

.main-top{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 50px;
}

.main-text{
    flex-direction: column;
    max-width: 500px;
}

.top-image{
    max-width: 450px;
    border-radius: 5px;
}

.big-text-main{
    font-size: 48px;
}

.button-hero{
    font-size: larger;
    margin-top: 10px;
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 5px;
}
.middle-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 40px
}

.mid-images{
    max-width: 150px;
    border-radius: 5px;
    border: 2px solid #3882f6;

}
.frames{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.img-txt{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.lower-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
    background-color: #E5E7EB;
}
.low-mid{
    max-width: 550px;
}

.quote{
    font-weight: 60;
    font-style: italic;
    font-size: 36px;
}

.author{
    font-weight: bold;
    text-align: end;
}
.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 90px;
}
.blue-box{
    display: flex;
    background-color: #3882f6;
    color: white;
    padding: 60px 400px;
    border-radius: 10px;
    max-width: 400px;
    gap: 20px;
}
.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: auto;
    padding: 50px;
    font-weight: 100;
}
.click{
    font-weight: bold;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}
.footer-button{
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: #E5E7EB;
    border-style: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
}